# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode - User Settings
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode - Build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved
*.xcodeproj/xcshareddata/swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
